@model ASPNET_core_web_app_MVC.Models.ItemCredential

@{
    @*Layout = null;*@
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add new item</title>
</head>
<body>
    @using (Html.BeginForm("AddItems", "Home", FormMethod.Post))    // Send to "ActionLogIn" of "HomeController" in method Post
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Add new item</th>
            </tr>
            <tr>
                <td>Username: </td>
                <td>
                    @Html.TextBoxFor(m => m.Name, new { type = "text", required = "required" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add item" /></td>
            </tr>
        </table>
    }
</body>
</html>