@model IEnumerable<ASPNET_core_web_app_MVC.Models.Item>

@{@*Layout = null;  // Nav banner from /Shared/_Layout.cshtml (delete this to add)*@}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Items</title>
</head>
<body>

    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">All my items</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td><strong>Name: </strong></td>
                <td>
                    &nbsp;@item.Name
                </td>
                <td>
                    &nbsp;
                    @*@Html.ActionLink("Delete", "DeleteItems",
                        new { id = @item.ItemId },
                        new { @class = "btn btn-primary", @style = "color:white" })*@
                    @using (Html.BeginForm("DeleteItems", "Home", new { id = @item.ItemId }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    }
                </td>
            </tr>
        }

    </table>

</body>
</html>

